body   {

  margin-top: 30px;
  font-family: monospace;
  font-weight: 700;
}

h1   {
  color: rgb(19, 109, 19);
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.btn   {
  margin-bottom: 30px;
}
